.new-algo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la page */
  background-color: #f9f9f9;

  app-new-algo-form {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
