<div class="user-profile">
  <app-user-profile-section
    [firstNamePlaceholder]="userForm.get('firstName')?.value || 'Prénom non disponible'"
    [lastNamePlaceholder]="userForm.get('lastName')?.value || 'Nom non disponible'"
    [phoneNumberPlaceholder]="userForm.get('phoneNumber')?.value || 'Non renseigné'"
    [emailPlaceholder]="userForm.get('email')?.value || 'Email non disponible'"
    [odysseyLinkPlaceholder]="userForm.get('odysseyLink')?.value || 'Lien non disponible'"
    [rolePlaceholder]="userForm.get('role')?.value || 'Rôle non disponible'"
    [avatarSrc]="userAvatarUrl"
  >
  </app-user-profile-section>
</div>

