<div class="dropdown-container rounded text-light position-relative ">
  <div class="dropdown-box rounded p-2 d-flex justify-content-evenly" (click)="toggleDropdown()">
    <span>{{ selectedValue[0] || placeholder }}</span>
    <i class="d-flex arrow align-items-center fas fa-chevron-down" [class.open]="isOpen"></i>
  </div>

  <div class="dropdown-list rounded position-absolute z-3 w-100"  *ngIf="isOpen">
    <div *ngFor="let option of options" class="dropdown-option p-2"  (click)="onSelect(option); $event.stopPropagation()">
      {{ option }}
    </div>
  </div>
</div>

