@import '../../../../styles/variables';

  .dropdown-container {
    background-color: transparent;    
    border: 1px solid $border-color;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .arrow.open {
    transform: rotate(180deg);  // Rotation de la flèche lors de l'ouverture
  }
  
  .dropdown-list {
    background-color: $background-color; // Fond sombre
    border: 1px solid $border-color;
  }
  
  .dropdown-option {
    &:hover {
      background-color: $second-background-color; // Fond plus clair au survol
    }
  }
  