@import '../../../../styles/variables';
.algo-grid {
  display: grid; // ✅ Active un affichage en grille
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // ✅ Ajuste les colonnes
  gap: $spacing-unit; // ✅ Espacement entre les cartes
  padding: $spacing-unit; // ✅ Ajoute un peu d'espace autour
}

.algo-page {
  background-color: $background-color;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: $spacing-unit * 2;

  app-button {
    width: 100%;
    max-width: 300px;
  }
}
