@import '../../../../styles/variables';

.custom-input-container {
  position: relative;
  margin-bottom: $spacing-unit;
}

.custom-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: $background-color-form;
  padding: 0 5px;
  font-size: $font-size-base;
  color: $text-color;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.custom-input {
  width: 100%;
  padding: 12px;
  padding-top: 18px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: transparent;
  color: $text-color;
  outline: none;
  font-size: $font-size-base;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: $primary-color;
  }

  &:focus + .custom-label,
  &:not(:placeholder-shown) + .custom-label {
    top: -20px;
    left: 8px;
    font-size: $font-size-small;
    color: $primary-color;
  }
}
