@import '../../../../styles/variables';

.custom-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: $background-color-form;
  padding: 0 5px;
  font-size: $font-size-base;
  color: $text-color;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.custom-input {
  border: 1px solid $border-color;
  background-color: transparent;
  color: $text-color;
  font-size: $font-size-base;
}

.light{
  background-color: $background-color;
}