<div class="promo-section">
    <div class="promo-header">
        <app-subtitle [text]="'Ma promo'" [fontSize]="'1.5em'"></app-subtitle>
        <app-dropdown-list
            [options]="promoList"
            [selectedValue]="selectedPromo.name"
            placeholder="Sélectionnez une promo"
            (valueSelected)="onPromoSelect($event)">
        </app-dropdown-list>
    </div>
  
    <div *ngIf="promoMembers.length === 0" class="empty-promo-message">
        Aucune personne dans cette promo pour le moment.
    </div>

    <div class="promo-grid">
      <app-user *ngFor="let member of promoMembers" [avatarSrc]="member.avatarUrl" [userName]="memberName"></app-user>
    </div>
  </div>
  
  
