// Couleurs
$primary-color: #1976d2; // Couleur primaire de Material UI
$secondary-color: #424242;
$tertiary-color: #ff0078;
$background-color: #121212;
$text-color: #ffffff;
$border-color: #333;


// Taille
$avatar-size: 100px;
$border-radius: 8px;
$spacing-unit: 16px;
$input-padding: 8px;
$input-border-radius: 5px;

// Typographie
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 12px;
