@import '../../../../styles/variables.scss';

// Style principal pour la section de profil
.user-profile-section {
  background-color: $background-color-form;


  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .profile-avatar {
      margin: $spacing-unit 0;
    }

    .profile-info,
    .additional-info {
      width: 100%;
      align-items: center;
    }
  }
}
