<div class="user-profile-section">
  <div class="profile-info">
    <app-user-info-group label="Prénom" placeholder="Amina"></app-user-info-group>
    <app-user-info-group label="Nom" placeholder="CHAKIR"></app-user-info-group>
    <app-user-info-group label="Numéro de téléphone" placeholder=""></app-user-info-group>
  </div>
  <div class="profile-avatar">
    <app-avatar [src]="avatarSrc" alt="Photo de profil"></app-avatar>
  </div>
  <div class="additional-info">
    <app-user-info-group label="Adresse email" placeholder="amina.chakir@wildcode..."></app-user-info-group>
    <app-user-info-group label="Profil odyssey" placeholder="https://odyssey.wildco..."></app-user-info-group>
    <app-user-info-group label="Mon rôle" placeholder="Administrateur"></app-user-info-group>
  </div>
</div>
