<div class="register-form rounded d-flex flex-column gap-3 align-items-center p-2" [formGroup]="registerForm">
  <app-title text="INSCRIPTION"></app-title>
  
  <!-- Prénom -->
  <app-input-field 
      label="Prénom" 
      fieldId="firstName" 
      formControlName="firstName">
  </app-input-field>
  <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="error-message">
      <div *ngIf="firstName?.errors?.['required']">Le prénom est obligatoire</div>
  </div>
  
  <!-- Nom -->
  <app-input-field 
      label="Nom" 
      fieldId="lastName" 
      formControlName="lastName">
  </app-input-field>
  <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="error-message">
      <div *ngIf="lastName?.errors?.['required']">Le nom est obligatoire</div>
  </div>
  
  <!-- Email -->
  <app-input-field 
      label="Adresse email" 
      fieldId="email" 
      formControlName="email">
  </app-input-field>
  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
      <div *ngIf="email?.errors?.['required']">L'email est obligatoire</div>
      <div *ngIf="email?.errors?.['email']">Veuillez entrer une adresse email valide</div>
  </div>
  
  <!-- Profil odyssey -->
  <app-input-field 
      label="Profil odyssey" 
      fieldId="odysseyLink" 
      formControlName="odysseyLink">
  </app-input-field>
  <div *ngIf="registerForm.get('odysseyLink')?.invalid && (registerForm.get('odysseyLink')?.dirty || registerForm.get('odysseyLink')?.touched)" class="error-message">
      <div *ngIf="registerForm.get('odysseyLink')?.errors?.['required']">Le profil odyssey est obligatoire</div>
  </div>
  
  <!-- Mot de passe -->
  <app-input-field 
      label="Mot de passe" 
      fieldId="password" 
      type="password" 
      formControlName="password">
  </app-input-field>
  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
      <div *ngIf="password?.errors?.['required']">Le mot de passe est obligatoire</div>
      <div *ngIf="password?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères</div>
      <div *ngIf="password?.errors?.['pattern']">
          Le mot de passe doit contenir au moins:
          <ul>
              <li>Une lettre majuscule</li>
              <li>Une lettre minuscule</li>
              <li>Un chiffre</li>
              <li>Un caractère spécial</li>
          </ul>
      </div>
  </div>
  
  <app-button 
      label="S'ENREGISTRER" 
      buttonType="primary" 
      (click)="onSubmit()">
  </app-button>
</div>