@import '../../../../styles/variables';

.register-form {
  background-color: $background-color-form;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}