@import '../../../../styles/variables';

.layout {
    display: flex;
    height: 100vh;
  
    .page-content {
      flex-grow: 1;
      overflow-y: auto;
      transition: 0.3s ease;
    
      &.collapsed {
        margin-left: $collapsed-navbar-width; 
      }
    
      &.expanded {
        margin-left: $expanded-navbar-width;
      }
    }
}
  