<div class="new-algo p-5 h-100 position-relative">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <app-input-field
        class="col-5"
        [value]="title"
        [label]="'Titre'"
        [isRequired]="true"
        [backgroundColor]="'light'">
      </app-input-field>
      
      <app-multi-select
        class="col-2"
        [options]="categories"
        [selectedValue]="selectedCategories"
        [placeholder]="'Catégories'"
        (valueChanged)="onCategorieSelect(categories)">
      </app-multi-select>
    </div>

    <div class="mb-5 mt-5">
      <app-subtitle [text]="'Enoncé'"></app-subtitle>
      <app-ckeditor [data]="content"></app-ckeditor>
    </div>

    <div class="mb-5 mt-5">
      <app-subtitle [text]="'Solution'"></app-subtitle>
      <app-ckeditor [data]="answer"></app-ckeditor>
    </div>

    <div class="mb-5 mt-5">
      <app-subtitle [text]="'Niveau de difficulté'"></app-subtitle>
    </div>

    <div class="d-flex flex-row-reverse mb-5 mt-5">
      <app-button
        [type]="'submit'"
        buttonType="submit"
        [label]="isEdit ? 'Enregistrer' : 'Ajouter'" (click)="onSubmit()">
      </app-button>
    </div>
  </div>
  