<div class="new-algo p-5 h-100 position-relative">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <app-input-field
        class="col-5"
        [value]="title"
        [label]="'Titre'"
        [isRequired]="true"
        [backgroundColor]="'light'"
        (input)="onAlgoChange($event, 'title')">
      </app-input-field>
      
      <app-multi-select
        class="col-2"
        [options]="categories"
        [selectedValue]="selectedCategories"
        [placeholder]="'Catégories'"
        (valueSelected)="onCategorieSelect($event)"
        >
      </app-multi-select>
    </div>

    <div class="mb-5 mt-5">
      <app-subtitle [text]="'Enoncé'"></app-subtitle>
      <app-ckeditor [data]="content" (dataChange)="onDataChange($event, 'content')"></app-ckeditor>
    </div> 

    <div class="mb-5 mt-5">
      <app-subtitle [text]="'Solution'"></app-subtitle>
      <app-ckeditor [data]="answer" (dataChange)="onDataChange($event, 'answer')"></app-ckeditor>
    </div>

    <div class="mb-5 mt-5 d-flex ">
      <app-subtitle class="p-2" [text]="'Niveau de difficulté'"></app-subtitle>
      <ngb-rating [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = 0" [readonly]="readonly" class="star ps-2" (rateChange)="onRatingChange($event)"/>
    </div>

    <div class="d-flex flex-row-reverse mb-5 mt-5">
      <app-button
        [type]="'submit'"
        buttonType="submit"
        [label]="isEdit ? 'Enregistrer' : 'Ajouter'" (click)="onSubmit()">
      </app-button>
    </div>
  </div> 
  