 .primary {
    background-color: #ff0078;
    color: #ffffff;
  }
  
  .secondary {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ff0078;
  }
  .submit {
    background-color: #4CAF50;
  }
  